html {
    box-sizing: border-box;
    --scroll-behavior: smooth;
    scroll-behavior: var(--scroll-behavior);

    @media (prefers-reduced-motion: reduce) {
        --scroll-behavior: auto;
    }
}

body {
    overflow: hidden;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.2s $ease;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

.ofi-image {
    @include ofi;
}

span.anchor {
    display: block;
    position: relative;
    top: -130px;
    visibility: hidden;
}

/* Hide the scrollbar track */
::-webkit-scrollbar-track {
    background-color: var(--border-color);
    border-bottom-right-radius: var(--radius);
    margin-bottom: 0.8rem;
  }
  
  /* Style the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-bottom-right-radius: var(--radius);
  }
  
  /* Style the scrollbar thumb when hovered */
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
  }
  
  /* Style the scrollbar corner */
  ::-webkit-scrollbar-corner {
    background-color: var(--text-color);
  }
  
  /* Set the width and height of the scrollbar */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }