// Grid
$global-grid: 1280px;
$global-margin: 20px;

// Font
$font-size: 16px;
$line-height: 1.26;

// Colors
$color-main: #0077ac;
$color-second: #42c0ec;

$white: #fff;
$grey: #BFBFC3;
$black: #030304;

// Easings
$ease: ease-in-out;
$bezier: cubic-bezier(0.175, 0.885, 0.32, 1.275);

// Spacing
$spacing: 20px;

// Radius
$radius: 30px;
$radius-md: 20px;
$radius-sm: 15px;
$radius-xs: 5px;

// Shadow
$shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

// breakpoints
$large: 1400px;
$desktop: 1280px;
$medium: 1124px;
$tablet: 860px;
$small: 600px;
$phone: 400px;

// Functions
@function margin($multiplicator) {
    @return ($global-margin * $multiplicator);
}
