// Flexbox

@mixin column($number-column, $gutter, $phone-width, $tablet-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-#{$gutter} / 2);
    margin-right: calc(-#{$gutter} / 2);

    & > .column {
        flex: 0 0 calc(100% / #{$number-column});
        & > .inner {
            padding: 0 calc(#{$gutter} / 2);
            margin-bottom: calc(#{$gutter} * 2);
        }
    }
    @if ($number-column > 2) {
        @media screen and (max-width: $tablet-width) {
            & > .column {
                flex: 0 0 50%;
            }
        }
    }
    @media screen and (max-width: $phone-width) {
        margin-left: 0;
        margin-right: 0;
        display: block;
        & > .column {
            & > .inner {
                padding: 0;
            }
        }
    }
}

.two-columns {
    @include column(2, margin(1), $small);
}

.four-columns {
    @include column(4, margin(1), $phone, $tablet);
}
